@using EntityLayerT.Concrete
@model List<Education>
<section class="w3l-grids-3 py-5">

    <div class="container py-md-5">
        <div class="title-content text-left mb-lg-5 mb-4">
        </div>
        <h6 class="sub-title">Eğitim Bilgileri</h6>
        <div class="row bottom-ab-grids">
            <!--/row-grids-->
            @foreach (var item in Model)
            {
                <div class="col-lg-6 subject-card mt-lg-0 mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>@item.School</h4>
                                    <p>@item.Degree</p>
                                    <span>@item.CityName</span>
                                    <div class="dst-btm">
                                        <h6>Başlangıç Tarihi:</h6>
                                        <h6 class=""> @item.StartDate.ToString("yyyy-MM-dd") </h6>
                                        <h6>Bitiş Tarihi:</h6>
                                        <h6 class="">@(item.EndDate.HasValue ? item.EndDate.Value.ToString("yyyy-MM-dd") : "")</h6>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>





</section>